In [5]:
import pandas as pd

In [6]:
dados = pd.read_csv('uploads/DATA.csv')

In [7]:
dados.head()

,CATEGORIA,CIDADE_ESTABELECIMENTO,COD_CATEGORIA,COD_ESTABELECIMENTO,COD_MCC,FREQ_TRANSACAO,MCC_CODE,MCC_DESCRIPTION,NOME_ESTABELECIMENTO,NOME_MCC,PREDICT,TRANSACAO_COM_CHIP,Unnamed: 0,COD_COMPUTADOR
0,NaN,MUENCHEN,5,859147800991,5411.0,1.0,54110.0,SUPERMERCADOS,111 EDEKA MARKT MUENCH,111 EDEKA MARKT MUENCH SUPERMERCADOS,Supermercado,S,NaN,11
1,NaN,CORALVILLE,8,3141626606,5814.0,2.0,58140.0,FAST FOOD,1733 DOMINOS PIZZA 000001,1733 DOMINOS PIZZA 000001 FAST FOOD,Fast Food,N,NaN,7
2,NaN,ITABORAI,8,8737588426,5812.0,1.0,58120.0,RESTAURANTES,262 BURGUER ARTESANAL,262 BURGUER ARTESANAL RESTAURANTES,Supermercado,S,NaN,11
3,NaN,BERLIN,7,859147609955,5812.0,1.0,58120.0,RESTAURANTES,3 MINUTES SUR MER,3 MINUTES SUR MER RESTAURANTES,Fast Food,S,NaN,11
4,NaN,RECIFE,8,988425,5462.0,88.0,54620.0,PADARIAS,3692 SUBWAY,3692 SUBWAY PADARIAS,Supermercado,S,NaN,8

In [8]:
dados.COD_COMPUTADOR.value_counts()

11    9567
3     4263
7     3349
1     1753
0     1404
5     1104
6      576
8      408
10     326
2      158
4       19
9        9
Name: COD_COMPUTADOR, dtype: int64

In [11]:
dados[dados.NOME_ESTABELECIMENTO.str.contains('SUBWA')]

,CATEGORIA,CIDADE_ESTABELECIMENTO,COD_CATEGORIA,COD_ESTABELECIMENTO,COD_MCC,FREQ_TRANSACAO,MCC_CODE,MCC_DESCRIPTION,NOME_ESTABELECIMENTO,NOME_MCC,PREDICT,TRANSACAO_COM_CHIP,Unnamed: 0,COD_COMPUTADOR
4,NaN,RECIFE,8,988425,5462.0,88.0,54620.0,PADARIAS,3692 SUBWAY,3692 SUBWAY PADARIAS,Supermercado,S,NaN,8
7,NaN,BRASILIA,8,1456581,5814.0,21.0,58140.0,FAST FOOD,4385 GRSA SUBWAY BSB,4385 GRSA SUBWAY BSB FAST FOOD,Supermercado,S,NaN,8
15,NaN,SAO PAULO,8,8734270044,5411.0,1.0,54110.0,SUPERMERCADOS,6845 - GRSA SUBWAY,6845 - GRSA SUBWAY SUPERMERCADOS,Supermercado,S,NaN,8
801,NaN,TAUBATE,8,1041629785,5814.0,3.0,58140.0,FAST FOOD,SUBTAUBATE-SUBWAY,SUBTAUBATE-SUBWAY FAST FOOD,Fast Food,S,NaN,8
802,NaN,RIO DE JANEIR,8,1053457178,5814.0,123.0,58140.0,FAST FOOD,SUBWAY,SUBWAY FAST FOOD,Fast Food,N,NaN,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,NaN,JOAO PESSOA,8,8713665693,5814.0,4.0,58140.0,FAST FOOD,SUBWAYPRAIA,SUBWAYPRAIA FAST FOOD,Fast Food,S,NaN,8
5059,Restaurante,ILHA DO GOVER,7,1040333513,5814.0,24.0,5814.0,FAST FOOD,SUBWAY VIA GUANABARA,SUBWAY VIA GUANABARA FAST FOOD,NaN,S,NaN,8
6214,fast food,RIO DE JANEIR,8,8674861513,5814.0,6.0,5814.0,FAST FOOD,RAVISUBWAY BAR E LANCHONE,RAVISUBWAY BAR E LANCHONE FAST FOOD,NaN,S,NaN,8
6444,Restaurante,RIO DE JANEIR,7,1022218244,5814.0,802.0,5814.0,FAST FOOD,SUBWAY COPACABANA,SUBWAY COPACABANA FAST FOOD,NaN,S,NaN,8
7561,fast food,RIO DE JANEIR,8,1029065567,5814.0,913.0,5814.0,FAST FOOD,RAVISUBWAY,RAVISUBWAY FAST FOOD,NaN,S,NaN,8

In [12]:
connection = Connection()

NameError: name 'Connection' is not defined

In [13]:
 forum = {"author": "Thiago Avelino",
            "text": "Python e MongoDB",
             "tags": ["mongodb", "python", "pymongo"]}

In [14]:
imaster = db.imaster

NameError: name 'db' is not defined

In [ ]:

client = pymongo.MongoClient("mongodb+srv://dbUser:<password>@cluster0-nkzzg.gcp.mongodb.net/test?retryWrites=true&w=majority")
db = client.test