In [1]:
import pandas as pd

In [36]:
dados = pd.read_csv('DATA_SET_TESTE.csv')

In [37]:
dados.head()

,Unnamed: 0,CATEGORIA,CIDADE_ESTABELECIMENTO,COD_CATEGORIA,COD_ESTABELECIMENTO,COD_MCC,FREQ_TRANSACAO,MCC_CODE,MCC_DESCRIPTION,NOME_ESTABELECIMENTO,NOME_MCC,PREDICT,TRANSACAO_COM_CHIP,Unnamed: 0.1,COD_COMPUTADOR
0,0,NaN,MUENCHEN,5,859147800991,5411.0,1.0,54110.0,SUPERMERCADOS,111 EDEKA MARKT MUENCH,111 EDEKA MARKT MUENCH SUPERMERCADOS,Supermercado,S,NaN,11
1,1,NaN,CORALVILLE,8,3141626606,5814.0,2.0,58140.0,FAST FOOD,1733 DOMINOS PIZZA 000001,1733 DOMINOS PIZZA 000001 FAST FOOD,Fast Food,N,NaN,7
2,2,NaN,ITABORAI,8,8737588426,5812.0,1.0,58120.0,RESTAURANTES,262 BURGUER ARTESANAL,262 BURGUER ARTESANAL RESTAURANTES,Supermercado,S,NaN,11
3,3,NaN,BERLIN,7,859147609955,5812.0,1.0,58120.0,RESTAURANTES,3 MINUTES SUR MER,3 MINUTES SUR MER RESTAURANTES,Fast Food,S,NaN,11
4,4,NaN,RECIFE,8,988425,5462.0,88.0,54620.0,PADARIAS,3692 SUBWAY,3692 SUBWAY PADARIAS,Supermercado,S,NaN,11

In [38]:
dados.shape

(22936, 15)

In [34]:
dados = pd.read_csv('DATA_SET_CORRIGIDO.csv')

In [35]:
dados.shape

(0, 1)

In [39]:
total = len(dados)
resto = len(dados[dados['COD_COMPUTADOR'] == 11])
categorizado = total - resto

In [40]:
total

22936

In [41]:
resto

9964

In [42]:
categorizado

12972

In [43]:
dados['COD_COMPUTADOR'].value_counts()

11    9964
3     4238
7     3296
1     1793
0     1468
5     1108
6      574
10     328
2      139
4       21
9        7
Name: COD_COMPUTADOR, dtype: int64

In [20]:
dados[dados['COD_COMPUTADOR'] == 10]

,Unnamed: 0,CATEGORIA,CIDADE_ESTABELECIMENTO,COD_CATEGORIA,COD_ESTABELECIMENTO,COD_MCC,FREQ_TRANSACAO,MCC_CODE,MCC_DESCRIPTION,NOME_ESTABELECIMENTO,NOME_MCC,PREDICT,TRANSACAO_COM_CHIP,Unnamed: 0.1,COD_COMPUTADOR
7211,7211,hotel,MONTREAL,0,30108676678,7011.0,2.0,7011.0,"HOTEIS, POUSADAS, ETC",RESTAURANTS WILLIAM GRAY,"RESTAURANTS WILLIAM GRAY HOTEIS, POUSADAS, ETC",NaN,S,NaN,10